.header {
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    margin: 0;
    padding: 0;
}

/* Listings page */
.listings-page {
    overflow: y;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
    padding-top: 100px;
}
.indiv-listing {
    background-color: #72C07D;
    width: 340px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.indiv-listing-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
}
.listing-details {
    color: white;
    height: 160px;
    width: 280px;
    background-color: #54ab79;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.highlight-on-hover {
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;

  }
.highlight-on-hover:hover {
    background-color: #97ffa6;
    transform: scale(1.05);
}
.highlight-on-hover-img {
    transition: transform 0.3s ease;
    cursor: pointer;
}
.highlight-on-hover-img:hover {
    transform: scale(1.02);
}
.banner-buttons {
    margin-left: auto;
}

